/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: transparent;
}
#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #0064e6;
  padding: 5px;
}
#zoomLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #0064e6;
  padding: 2px;
  transition: transform 0.2s ease;
}

#zoomLink:hover {
  transform: scale(1.1);
}

.wrapper {
  width: 450px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px hsl(256, 62%, 55%);
  margin: 0.5em 0em;
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #0064e6;
}
.days li:not(.active):hover::before {
  background: #fff6c3;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3em 0em 1em 1em;
}

#footer p {
  margin-top: 5px;
  font-size: 1.1em;
  color: rgb(64, 77, 104);
}

#footer a {
  padding: 10px 0px;
  text-decoration: none;
  transition: transform 0.2s ease;
  color: MediumPurple;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

#footer a:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: darkorange;
}

/* Button */
.button {
  width: 7rem;
  height: 2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: gray;
  margin-top: 5px;
  padding: 0em 0.2em;
  background-color: aliceblue;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
  transition: transform 0.2s ease;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: rgb(241, 227, 252);
  color: #0064e6;
  padding: 0em 0.2em;
  /* transform: translateY(-7px); Moves button upward on hover */
  transform: scale(1.2);
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
